*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: rgb(228, 228, 228);
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
}
/* the main card container */

.card{
  background-image:url(assets/cardbackround-02.png);
  width: 1053px;
  height: 589px;
  margin: 80px auto;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 255, 255);
  border-radius: 30px;
}

h1{
  margin-bottom: px;
  font-family: 'inter', sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 40px;
  position: relative; top: 140px;
  margin-left: 370px;
  color: #000000;
  
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'inter', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: left;
  position: relative;top: 150px;
  margin-left: 370px;
  color: #00c8cb;
} 

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  margin-left: 220px;
  position: relative; top: 250px;}
  
  h4{
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: left;
    position: relative; 
    margin-left: 220px; 
    top: 245px;
    color: #000000;
  } 
  :link, a:visited {
  color: #000000;
  padding: 0px 0px;
  text-align: left;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
a:hover {
  color: rgb(0, 151, 206);
}

/* specific styling to scale elements down for mobile */
@media only screen and (max-width: 900px) {
  .card{
    width: 390px;
    height: 220px;
  }
  
  h1{
    top: 22px;
    font-size: 22px;
  }
  
  h2{
    font-size: 15px;
    top: 20px;
  } 
  
  h3{
    font-size:11px;
    top: px;
  }
}

  .icon-bar {

    width: 90px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    position: relative; 
    margin-left:375px; 
    top: 550px;
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: #000000; /* Add an active/current color */
  }
